body{
    font-family:Helvetica;
    list-style-type: circle;
}

.container{ 
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
   width:fit-content;
   height: fit-content;
   flex-wrap: wrap;
}

.project1{
   height: 200px;
   width: 350px;
}

.project2{
    height:150px;
    width: 300px;
}   

.project3{
    height: 350px;
    width: 250px;   
}

h3{
    font-size:25px;
}

h3:hover, h1:hover, h2:hover, .project:hover, .description:hover {
    font-size:15px;
    background-color:palevioletred;
}

.project{
    width:375px;
    height:25px;
    border: 2px solid pink;
    padding: 20px;
    text-align:center;
}

.description{
    width:375px;
    height:500px;
    border: 1px solid pink;
    padding: 20px;

    @media screen and (max-width:600px){
        border: 5px dashed black;
        padding: 20px;
        background-color: pink;
        font-size:10px;
    }    
}

h1{
    height: fit-content;
    border: 2px solid pink;
    width:fit-content;  
    align-items:center;

    @media screen and (max-width:600px){
        background-color:pink;
        border: 2px dashed black;
        font-size:20px;
    }
}


h2{  
    height:fit-content;
    width:fit-content;
    border: 2px solid pink;
    text-align: center;
    align-items:center;
    
    @media screen and (max-width:600px) {
        background-color:pink;
        font-size:10px;
        
    }
}
.navbar{
    width:fit-content;
     height:fit-content;
    border: 1px solid pink;
    align-items:center;
    font-size: 10px;
    

    @media screen and (max-width:600px) {
        font-size:15px;
        background-color:pink;
           }
}

p{
    font-size: 15px;
}

.image{
    height:30vh;
    width:50vh;
    border: 10px solid pink;
}

.imageToo{
    height:20vh;
    width:20vh;
    border: 10px solid pink;
}


.contactMe{
    text-align:left;
    border:10px solid pink;
    height:fit-content;
    width: fit-content;
}

.list{
    display: flex;
    flex-wrap: wrap-reverse;
}