
.container{ 
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
   width:fit-content;
   height: fit-content;
}

.project1{
   height: 200px;
   width: 350px;
}

.project2{
    height:150px;
    width: 300px;
}   

.project3{
    height: 350px;
    width: 250px;
   
}

h3{
    font-size:25px;
}

.project{
    width:375px;
    height:25px;
    border: 2px solid pink;
    padding: 10px;
    margin: 10px;
    text-align:center;
}

.description{
    width:375px;
    height:500px;
    border: 1px solid pink;
    padding: 10px;
    margin: 10px;
}

h1{
    height: fit-content;
    border: 2px solid pink;
    width:fit-content;
    margin-left:50px;    
    align-items:center;
}

h2{  height:30px;
    width:fit-content;
    border: 2px solid pink;
    margin-left:50px;    
    text-align: center;
    align-items:center;}
.navbar{
    width:fit-content;
    height:fit-content;
    border: 1px solid pink;
    align-items:center;
    font-size: 10px;
    margin-left:50px;
}

body{
    font-family:Helvetica;
    list-style-type: circle;
}

.list{
    margin-left: 50px;
}